@use "../abstracts";

.dropdown {
    display: none;
    width: min(1240px, 100%);
    padding-top: 54px;
    position: absolute;
    left: 0;
    transition: 0.3s;

    @include abstracts.breakpoint(lg) {
        display: block;
        position: initial;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: var(--dropdown-shadow);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            color: white;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.breakpoint(lg) {
            border-radius: 0;
            background: transparent;
            box-shadow: none;
        }
        &::before {
            content: none;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    height: calc(min(582px, 100vh - 158px) - (var(--inner-padding) * 2));
    position: relative;

    &__main {
        width: var(--main-column-width);
        height: inherit;
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;
    color: var(--top-menu-text-color);

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__icon--1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon--2 {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
    }

    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 7px 0;
        line-height: 1.42; /* 142.857% */
    }
}

.sub-menu {
    display: none;
    position: absolute;
    gap: var(--inner-padding);
    inset: 0 0 0 var(--main-column-width);
    grid-template-columns: repeat(3, 1fr);
    padding-left: var(--inner-padding);
    overflow-y: auto;
    &__column {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &--notmain {
        padding: 0;
        height: inherit;
        overflow-y: auto;
        position: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
