.dropdown {
    opacity: 0;
    visibility: hidden;
    width: min(1240px, 100%);
    padding-top: 54px;
    position: absolute;
    left: 0;
    transition: 0.3s;

    &__inner {
        position: relative;
        height: min(582px, 100vh - 158px);
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: var(--dropdown-shadow);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            color: white;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    height: 100%;

    &__main {
        width: 292px;
        height: 100%;
        border-right: 1px solid var(--top-menu-border-color);
    }
}
