.dropdown {
    opacity: 0;
    visibility: hidden;
    width: min(1240px, 100%);
    padding-top: 54px;
    position: absolute;
    left: 0;
    transition: 0.3s;

    &__inner {
        --inner-max-height: min(582px, 100vh - 158px);
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: var(--dropdown-shadow);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            color: white;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    &__main {
        width: 292px;
        max-height: calc(var(--inner-max-height) - (var(--inner-padding) * 2));
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;
    color: var(--top-menu-text-color);

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__icon--1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon--2 {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__list {
        margin-top: 19px;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
    }

    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 7px 0;
        line-height: 1.42; /* 142.857% */

        &:hover {
            color: #0071dc;

            font-weight: 500;
        }
    }
}
