@use "../abstracts";

.form {
    :has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        &--horizontal {
            display: flex;
            align-items: center;
        }
    }

    &__error {
        margin-top: 10px;
        color: red;
        font-size: 14px;
        display: none;
        font-weight: 500;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__text-input {
        border-color: red;
        background: rgba($color: red, $alpha: 0.1);

        + .form__error {
            display: block;
        }

        .form__input-icon--error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 12px;

        border-radius: 10px;
        border: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        width: 100%;
        height: 100%;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: #d2d1d6;
        }

        &-icon {
            margin-left: 12px;
            width: 24px;
            height: 24px;
        }
    }

    &__input-icon--error {
        display: none;
        margin-left: 12px;
        width: 24px;
        height: 24px;
        animation: shake 0.5s;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        &-label {
            color: var(--Secondary-Color-Secondary-2, #9e9da8);

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }
}
