@use "../abstracts";

.message {
    padding: 18px;
    width: 100%;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 500;

    @include abstracts.screen(md) {
        font-size: 1.4rem;
    }

    &--success {
        border: 1.5px solid #5bc45f;
        background: rgba(39, 243, 117, 0.2);
    }
}
